@import "./layout/header.scss";
@import "./layout/intro.scss";
@import "./layout/bootstrap_custom";
@import "~bootstrap/scss/bootstrap";
//  slick
 $slick-font-path: "/node_modules/slick-carousel/slick/fonts/" !default;
 $slick-font-family: "slick" !default;
 $slick-loader-path: "/node_modules/slick-carousel/slick-carousel/slick/" !default;
 $slick-arrow-color: black !default;
 @import "~slick-carousel/slick/slick.scss"; 
 @import "~slick-carousel/slick/slick-theme.scss";

// colors
$gray: #2d2d2d;
$gray-dark: #7a7a7a;
$gutter: 25px;

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Rubik:100,300,400,500');

// MENUS
.mobile-menu {
	display:none;
  }
.desktop-menu {
    display:block;
}

/* MENU STYLES */
	.button_container {
		position: fixed;
		top: 50px;
		right: 5%;
		margin: 0 auto;
		height: 27px;
		width: 31px;
		cursor: pointer;
		z-index: 1000;
		-webkit-transition: opacity .25s ease;
		-o-transition: opacity .25s ease;
		transition: opacity .25s ease;
	}
	a.menu-link {
		  -webkit-transition: opacity .25s ease;
		-o-transition: opacity .25s ease;
		transition: opacity .25s ease;
	}
	a.menu-link.active {
		opacity: 0.5;
	}
	a.menu-link:hover {
		opacity: 0.5;
	}
	.button_container:hover {
	  opacity: .7;
	}
	.button_container.active .top {
	  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
	  -ms-transform: translateY(11px) translateX(0) rotate(45deg);
	  transform: translateY(11px) translateX(0) rotate(45deg);
	}
	.button_container.active .middle {
	  opacity: 0;
	}
	.button_container.active .bottom {
	  -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
	  -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
	  transform: translateY(-7px) translateX(0) rotate(-45deg);
	}
	.button_container span {
	  background: #fff;
	  border: none;
	  height: 2px;
	  width: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
	  -webkit-transition: all .35s ease;
	  -o-transition: all .35s ease;
	  transition: all .35s ease;
	  cursor: pointer;
	  border-radius: 20px;
	}
	.button_container span:nth-of-type(2) {
	  top: 9px;
	}
	.button_container span:nth-of-type(3) {
	  top: 18px;
	}
	.overlay {
	  position: fixed;
	    background-image: linear-gradient(135deg, #ff6868, #7000e5);
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 0%;
	  opacity: 0;
	  visibility: hidden;
	  -webkit-transition: opacity .35s, visibility .35s, height .35s;
	  -o-transition: opacity .35s, visibility .35s, height .35s;
	  transition: opacity .35s, visibility .35s, height .35s;
	  overflow: hidden;
	  z-index: 999;
	}
	.overlay.open {
	  opacity: 1;
	  visibility: visible;
	  height: 100%;
	  overflow: auto;
	  z-index: 999;
	}
	.overlay.open li {
	  -webkit-animation: fadeInRight .5s ease forwards;
	  animation: fadeInRight .5s ease forwards;
	  -webkit-animation-delay: .35s;
	  animation-delay: .35s;
	  clear: both;
	}
  .overlay.open li.menu-btn {
    width: 100%;
}
	.overlay.open li.menu-btn a {
    margin-bottom: 0;
    font-size: 1.875em!important;
    color: #9c20be;
    line-height: 43px;
}
	.overlay.open li a {
		margin-bottom: 25px;
	}
	.overlay.open li:nth-of-type(2) {
	  -webkit-animation-delay: .4s;
			  animation-delay: .4s;
	}
	.overlay.open li:nth-of-type(3) {
	  -webkit-animation-delay: .45s;
			  animation-delay: .45s;
	}
	.overlay.open li:nth-of-type(4) {
	  -webkit-animation-delay: .50s;
			  animation-delay: .50s;
        margin:0 auto!important;
	}
	.overlay nav {

	  position: relative;
	  height: 70%;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
			  -ms-transform: translateY(-50%);
		  transform: translateY(-50%);
	  font-size: 50px;
	  font-family: 'Vollkorn', serif;
	  font-weight: 400;
	  text-align: center;
	}
	.overlay ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: block;
		position: relative;
		height: 100%;
		/* left: 10%; */
	}
	.overlay ul li {
	  display: block;
	  position: relative;
	  opacity: 0;
	  text-align:center;
	  width: 100%;
	  padding: 0!important;
	  margin: 0!important;
	}
	.overlay ul li a {
	  display: inline-block;
	  position: relative;
	  color: #fff;
	  text-decoration: none;
	  overflow: hidden;
	  font-size: 3em!important;
	}
div#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}
	   @-webkit-keyframes fadeInRight {
	  0% {
		opacity: 0;
		left: 20%;
	  }
	  100% {
		opacity: 1;
		left: 0;
	  }
	}

	@keyframes fadeInRight {
		0% {
		  opacity: 0;
		  left: 20%;
		}
		100% {
		  opacity: 1;
		  left: 0;
		}
	  }


@media (max-width:780px) {
.mobile-menu {
	display:block;
  }
.desktop-menu {
    display:none;
}
}
// animations
.light-border {
    position: relative;
    display: inline-block;
    &:hover:after {
    width: 0;
    }
    &:after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -3px;
    left: 0;
    background: #fefefe;
    transition: width .2s ease-in-out;
    }
}
.btn:hover {
    color:#9c20be;
}

// end animations

.fouc-fix {
  visibility: visible !important;
}

body {
  font-family: 'Rubik', sans-serif;
}

.bg {
  object-fit: contain;
  background-image: linear-gradient(135deg, #ff6868, #7000e5);
}

.d-flex {
  display: flex;
}
a:hover {
    text-decoration:none;
    color:initial;
}
.large-f {
  font-size: 2.5em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #2d2d2d;
}

.regular-f {
  font-size: 1.5em;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2d2d2d;
}
ol {
    margin-left:0;
    padding-left:0;
    list-style:none;
    li {
    font-size: 1.350em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d2d;
    margin-bottom: 1.5em;
    position: relative;
    padding-left: 10px;
    &:before { 
    content: ''; 
    background:url('/multi/wp-content/themes/multilogin_theme/assets/tick.png');
    height: 11px;
    width: 14px;
    background-size: cover;
    position: absolute;
    z-index: 99;
    left: -17px;
    top: 10px;
    } 
    }
}
.fly-high {
   ol li:before { 
    background:url('/multi/wp-content/themes/multilogin_theme/assets/white-tick.png');
    height: 11px;
    width: 14px;
    background-size: cover;
    position: absolute;
    z-index: 99;
    left: -17px;
    top: 10px;
}
}
.btn {
  width: 214px;
  height: 62px;
  -o-object-fit: contain;
  object-fit: contain;
  background: #fff;
  border-radius: 48px;
  line-height: 62px;
  position: relative;
  color: #9c20be;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding: 0;
  font-size: 1.25em;
  transition: transform .2s ease-in-out;
  &.btn-gradient {
    object-fit: contain;
    background-image: linear-gradient(135deg, #ff6868, #7000e5);
    color: #fff;
    border: none;
  }
  &:hover {
    transform: scale(1.03);
    cursor:pointer;
    }
}
.btn-glow {
  box-shadow: 0 0px 60px 6px rgba(112,0,229,0.3);
}

a {
  &.btn.btn-gradient.smaller-btn {
    width: 143px;
    height: 41px;
    line-height: 41px;
    font-weight: lighter;
  }
  &.link-btn {
    font-size: 1.25em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #fefefe;
    line-height: 48px;
    display: inline-block;
    margin-left: 50px;
    line-height: 1;
    display: inline-block;
    height: 100%;
  }
}
.smaller-btn.close {
    position:fixed;
    top:50px;
    right:50px;
    width: 143px;
    height: 41px;
    line-height: 41px;
    font-weight: lighter;
    font-size: 1.350em;
}
.pt-col {
  padding-top: 140px;
}

/* DO JOIN US */

#do-join p {
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2d2d2d;
  &.icon-p {
    text-align: center;
  }
}

.icons-col {
  text-align: center;
  width:100%;
  img {
    max-height: 186px;
    width: 100%;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2d2d2d;
  }
}

/* story */

.story-wrap {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative;
  overflow: hidden;
  h2 {
    font-size: 2.5em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-bottom: 1.5em;
  }
  p {
    font-size: 1.25em;
    font-weight: 100 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .story-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-size: cover !important;
    clip-path: ellipse(95% 100% at 100% 50%);
  }
  .story-wrap {
    position: relative;
  }
}

/* CEO */

#ceo-message {
  .ceo-img img {
    object-fit: contain;
    border-radius: 186px;
    width: 100%;
  }
  span.quote-mark {
    font-size:2.9em;
  }
  .ceo-box {
    background: #fff;
    border-radius: 20px;
    padding: 2.8em;
    .ceo-message {
      display: flex;
      align-items: center;
    }
    p {
      font-size: 1.25em;
      font-weight: lighter;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #2d2d2d;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #2d2d2d;
    }
    .ceo-position {
      font-size: 1.5em;
      font-weight: normal;
      line-height: 1.5;
      display: block;
    }
  }
  .play-icon {
    margin-right: 5px;
    width: 14px;
    height: 15px;
    background-size: cover !important;
    display: inline-block;
  }
}

/* VIDEO */

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}

.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}

.video-wrap {
  background-attachment: fixed !important;
  background-size: cover !important;
}

/* WHY JOIN */
div#why-join {
    overflow: hidden;
    width: 100%;
}
#why-join {
  p {
    font-size: 1.25em;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d2d;
  }
  .why-icon {
    max-width: 103px;
    width: 100%;
  }
  .why-text {
    padding-top: 33px;
  }
  h4 {
    margin-bottom: 1em;
  }
  .back-img {
    position: absolute;
    right: 0;
    .why-back {
      width: 100%;
      right:0;
    }
  }
}

/* BENEFITS */

#benefits {
  background: #f8f8f8;
}

/* SLIDER */

.slider-wrap {
  position: relative; 
}
 /* the slides */
  .slick-slide {
    margin: 0 27px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -27px;
  }
.slider {
  position: relative;
  width: 100%;
  .slick-slide {
    outline: none !important;
  }
  .slick-list.draggable {

    .video-thumbnail {
      padding-bottom: 65%;
      background-position: center !important;
      background-size: cover !important;
    }
  }
}

.slick-arrow_wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  .slick-arrow {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    cursor: pointer;
    transition: all .2s ease-in-out;
  }
  img {
    width: 27px;
    height: auto;
  }
  .prev-slick {
    left: -5%;
    &:hover {
        left:-5.5%;
    }
  }
  .next-slick {
    right: -5%;
    &:hover {
        right:-5.5%;
    }
  }
}

.inner-video {
  position: relative;
  button.video-btn {
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    background: none;
    border: none;
    width: 60px;
    padding: 0;
    outline: none;
    
    img {
      width: 100%;
      transition: transform .2s ease-in-out;
    }
    &:hover img {
        transform: scale(1.05);
    }
  }
}

/* JOBS */

.jobs-title h2 {
  margin-bottom: 0;
}

.mid-heading {
  font-size: 1.500em;
  margin-bottom: 12px;
  + .single-position {
    border-top: 2px solid #efefef;
  }
}
/* form plugin */
.apply-title {
    margin-bottom: 3em;
    h2 {
    font-size: 2.500em;
}
}
.form-wrap {
  button {
    width: 214px;
    height: 62px;
    -o-object-fit: contain;
    object-fit: contain;
    background: #fff;
    border-radius: 48px;
    line-height: 62px;
    position: relative;
    color: #9c20be;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 0;
    font-size: 1.25em;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
        -o-object-fit: contain;
    object-fit: contain;
    background-image: -webkit-linear-gradient(315deg, #ff6868, #7000e5);
    background-image: -o-linear-gradient(315deg, #ff6868, #7000e5);
    background-image: linear-gradient(135deg, #ff6868, #7000e5);
    color: #fff;
    border: none;
    &:hover {
      color:#fff;
    }
  }
}

/* form plugin end */
.jobs-exceprt {
  color: #2d2d2d;
  h2 {
    font-size: 2.500em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d2d;
    margin-bottom: 1em;
  }
  p {
    font-family: Rubik;
    font-size: 1.350em;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d2d;
    margin-bottom: 1.5em;
    a {
      color: #2d2d2d;
      border-bottom:2px solid #2d2d2d;
    }
  }
}

.single-position {
  align-items: center;
  border-bottom: 2px solid #efefef;
  padding: 13px 0;
  .position-title {
    width: 45%;
    a {
      font-size: 1.500em;
      font-weight: lighter;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #2d2d2d;
    }
  }
  .position-link {
    margin-left: auto;
  }
  .position-cat {
    font-size: 1.350em;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d2d;
  }
}

/* REALLY */
.tab-quote.d-flex.row {
  align-items: center;
  p {
    font-size: 1.500em;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d2d;
  }
  .ceo-img img {
    border-radius: 200px;
    width: 100%;
    max-width: 186px;
    height: auto;
  }
}

.nav-item {
  height: 72px;
  object-fit: contain;
  background: #fff;
  font-size: 1.500em;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #2d2d2d;
  border-radius: 20px 20px 0 0 !important;
  line-height: 72px;
  max-width: 290px;
  padding: 0 28px;
  border: none !important;
  width: auto !important;
  box-shadow: 0px -6px 38px 0 rgba(0, 0, 0, 0.03);
  &:hover {
    border: none !important;
  }
}

div#nav-tab {
  border-bottom: none;
}

#really .nav-fill .nav-item {
  flex: initial;
}

.nav-item.active {
  background-image: linear-gradient(135deg, #ff6868, #7000e5);
  color: #fff !important;
}

div#really {
  background: #f8f8f8;
}

.tab-quote a.btn.btn-gradient {
  width: 240px;
}

div#nav-tabContent {
  background: #fff;
  box-shadow: 0 0 87px 0 rgba(0, 0, 0, 0.07);
}

.the_quote {
  position: relative;
  p {
    font-weight: lighter !important;
    color: #2d2d2d;
  }
  span.quote-mark {
    background-image: linear-gradient(135deg, #ff6868, #7000e5), linear-gradient(to bottom, #2d2d2d, #2d2d2d);
    font-family: Rubik;
    font-size: 4.188em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    line-height: auto;
    color: #2d2d2d;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    &.top-one {
      top: -40px;
      left: -25px;
    }
    &.bottom-one {
      right: 0;
      bottom: -40px;
    }
  }
}

.tab-quote img {
  width: 100%;
  border-radius: 186px;
}

.tab-cols p {
  font-size: 1.350em;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2d2d2d;
}
/* SINGLE JOBS */
#single-wrap {
  .back-img {
    position: absolute;
    right: 0;
    .why-back {
      width: 100%;
    }
  }
  .icons-col {
      h3 {
          font-weight:400;
      }
  }
  .single-content p {
    color: #2d2d2d;
    font-size: 1.500em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #2d2d2d;
    }
    .single-bottom {
        h2 {
            font-size: 2.500em;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: normal;
            text-align: left;
            color: #2d2d2d;
        }
        ol {
         margin: 3.5em 0;
        }
        .single-bottom_wrap {
            width:80%;
        }
    }
}
.single-jobs header#masthead {
    padding-top: 88px;
    top: 0;
    padding-bottom: 88px;
    background-image: linear-gradient(315deg, #ff6868, #7000e5);
    position:static;
}


#interested {
    background-image: linear-gradient(315deg, #ff6868, #7000e5);
  .ceo-img img {
    object-fit: contain;
    border-radius: 186px;
    width: 100%;
  } 
.wrap-contacts {
    display: flex;
    align-items: center;
    padding: 2em 0;
    .your-contacts {
    padding-right: 10%;
    h3 {
    font-size: 1.500em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 0;
}
}
}

.additional-info p {
    font-size: 1.350em;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #fffefe;
    margin-top: 1em;
    a {
      color:#fff;
      border-bottom:2px solid #fff;
    }
}
  h2 {
      font-size: 2.500em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #fefefe;
  }
  ol {
      margin-top:2em;
    li {
        color:#fff;
    }
  }
  
  .ceo-box {
    background: #fff;
    border-radius: 20px;
    padding: 2.8em;
    p {
      font-size: 1.25em;
      font-weight: lighter;
      font-style: italic;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #2d2d2d;
      position:relative;
    }
    h3 {
      font-size: 1.5em;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #2d2d2d;
    }
    .ceo-position {
      font-size: 1.25em;
      font-weight: normal;
      line-height: 1.5;
      display: block;
    }
    .quote-mark {
    background-image: linear-gradient(135deg, #ff6868, #7000e5), linear-gradient(to bottom, #2d2d2d, #2d2d2d);
    font-family: Rubik;
    font-size: 3em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    line-height: auto;
    color: #2d2d2d;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    &.top-one {
      top: -40px;
      left: -25px;
    }
    &.bottom-one {
      right: 0;
      bottom: -40px;
    }
      } 
  }
}
@media (max-width: 1680px) {
  body {
    font-size: 0.7em;
  }
  .btn {
    width: 168px;
    height: 50px;
    line-height: 50px;
  }
  header ul .btn, .btn {
    width: 150px;
    height: 45px;
    line-height: 45px;
    // font-size: inherit;
}
header ul .btn {
    font-size: inherit;
}
.tab-quote a.btn.btn-gradient {
    width: 190px;
}
#why-join .why-text {
    padding-top: 10px;
}

// col responsive 
.pt-col {
    padding-top: 100px;
}
.form-wrap button {
    width: 165px;
    height: 45px;
    line-height: 45px;
}
footer .menu-btn a  {
    width: 150px;
    height: 45px;
    line-height: 45px;
    font-size: inherit;
    text-align: center;
}
}

@media (max-width: 1360px) {
  body {
    font-size: 0.65em;
  }
}
@media (max-width: 1100px) {
  .container {
    max-width: 90%; // fluid?
  }
}
@media (max-width:780px) {
  .pt-col {
    padding-top: 5em!important;
}
.pb-9, .py-9 {
  padding-bottom:5em!important;
}
    .container {
    max-width: 80%; // fluid?
  }
  #ceo-message .ceo-img img {
    max-width:200px;
  }
  .story-wrap .story-img {
    clip-path:none!important;
  }
    .d-flex {
        flex-direction:column;
    }
    .row {
        flex-direction:column;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-11, .col-12 {
        width:100%;
        max-width:100%;
        flex-basis:100%;
        margin: 0!important;
        padding: 0!important;
    }
    header {
        top:30px;
    }
    header ul {
        display:none;
    }
    .cta.d-flex.align-items-center {
    flex-direction: row;
}
.pb-6, .py-6 {
    padding-bottom:3rem!important;
}
.pt-6, .py-6 {
    padding-top:3rem!important;
}
.pb-8, .py-8,
.pb-10, .py-10 {
    padding-bottom:5em!important;
}
.story-wrap .story-img {
    position: static;
    height: 300px;
    margin-top: 30px!important;
}
#really .nav-fill .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 13px;
    padding: 0;
    height: 50px;
    line-height: 50px;
    max-width:none;
}
.icons-col img {
    max-height: 100%;
    width: 100%;
}
.tab-quote.d-flex {
    width: 90%;
    margin: 0 auto;
}
.tab-quote.d-flex.row p {
    font-size: 1.25em;
}
.the_quote {
    position: relative;
    margin: 30px 0;
}
.the_quote span.quote-mark.bottom-one {
    right:-20px;
}
.the_quote span.quote-mark.top-one {
    top: -20px;
}
.tab-cols.row.pb-5.pt-2 {
    width: 90%;
    margin: 0 auto;
}
.tab-quote .col-2.offset-1.mx-auto {
    text-align: center;
}
.ceo-box .row {
    width: 90%;
    margin: 0 auto;
}

#ceo-message .ceo-box {
    padding: 15px;
    margin-top:64px;
}
#video-slider .col, #img-slider .col {
    padding: 0;
}
#ceo-message .col-6.pt-10.pb-10.pr-6 {
    margin: 5em 0!important;
}
.video-wrap.mx-auto {
    margin: 1em 0 4em;
}

.video-wrap {
    background-attachment: initial!important;
}
.back-img.back-img {
    display: none;
}
#why-join .why-icon {
    width: 80%;
    max-width:80%;
    margin: 20px auto;
}
.single-position.d-flex {
    flex-direction: row;
}

.single-position.d-flex > div {
    flex: 1;
}

.position-cat {
    display: none;
}

.position-title {
    font-size: 10px;
}

a.btn.btn-gradient.smaller-btn {
    width: 120px;
}

.position-link {
    text-align: right;
}
#why-blocks .col-2 {
    text-align: center!important;
}

.why-blocks .col-2 {
    text-align: center;
}

.why-text p, .why-text h4 {
    text-align: center;
}

.col-10.why-text {
    width: 100%!important;
    max-width: 100%;
}
.icons-col .col {
    margin-bottom: 50px;
}
#why-join .why-icon,
.icons-col img {
    max-width: 280px;
}
.slick-arrow_wrap img {
    width: 15px;
    height: auto;
}
.slick-arrow_wrap .prev-slick {
    left: -25px;
}
.slick-arrow_wrap .next-slick {
    right: -25px;
}
button.close.btn.btn-gradient.smaller-btn {
    left: 0;
    right: 0;
    margin: 0 auto;
}
#intro h1 {
    font-size: 2.5em;
}
.jobs-exceprt {
    margin-bottom: 70px;
}
.single-jobs header#masthead {
    padding-top: 23px;
    padding-bottom: 27px;
}
.apply-now_btn {
    width: 100%;
    margin-top: 3em;
}

#single-wrap .single-bottom .single-bottom_wrap {
  width:100%;
}
.icons-title {
    margin: 0 -24px!important;
    margin-bottom: 2em!important;
}
}
@media (max-width: 668px) {
    #intro {
    padding-top: 100px;
    height: 100%;
    min-height:661px;
  }
  .logo img {
    height: 35px;
}
.button_container {
  top:33px;
}
#why-join .why-icon, .icons-col img {
    max-width: 150px;
}
.pt-5, .py-5 {
  padding-top:2em!important;
}
#intro .intro-background {
    height: auto;
    width: 100%;
    object-fit:cover;
    min-height:661px;
}
.single-jobs header#masthead {
    padding-top: 27px;
}
.row.icons-col {
    margin: 0 auto;
        padding-bottom: 0!important;
}

.icons-col .col {
    padding: 0;
}
.bottom-row p.regular-f {
    margin-bottom: 0;
}
.pb-8, .py-8, .pb-10, .py-10 {
    padding-bottom: 3em!important;
}

.the-story {
    padding-bottom: 1em!important;
}
.icon-col_text {
    margin: 0!important;
    margin-top: 3em!important;
    padding: 0!important;
    width: 100%!important;
    max-width: 100%!important;
}
.tab-cols.row.pb-5 {
    padding-bottom: 1em!important;
}
.why-join_text .large-f {
    margin-bottom: 0!important;
    padding-bottom: 0!important;
}
.video-wrap.mx-auto {
    margin-bottom: 0em;
}

div#ceo-message {
    padding-bottom: 5em;
}
}
@media (max-width:560px) {
  #intro a.link-btn {
  margin-left:10px;   
}
}