// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 1092px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1660px
);
$container-max-widths: (
  xxxs: 0,
  xxs: 320px,
  xs: 468px,
  sm: 567px,
  md: 668px,
  lg: 892px,
  xl: 1100px,
  xxl: 1340px,
  xxxl: 1556px
);
@mixin make-max-widths-container-width($max-widths: $container-max-
widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
        max-width: $container-max-width;
    }
  }
}


$grid-columns:      12;
$grid-gutter-width: 48px;

$grid-gutter-widths: (
  xs: 16px,
  md: 20px,
  lg: 48px,
  xl: 48px
);

// Your variable overrides
$spacer: 1rem;
$spacers: (
  6: ($spacer * 7),
  7: ($spacer * 8.5),
  8: ($spacer * 10),
  9: ($spacer * 12),
  10: ($spacer * 14)
);
