header {
    
    position: absolute;
    top: 88px;
    width: 100%;
    z-index: 99;
    .logo {
        img {
            max-height: 65px;
            position: relative;
        }
    }
    #site-navigation {
        margin-left: auto;
        align-items: center;
        display: flex;
        }
    ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            align-items:center;
            li {
                margin: 0 22px;
            }
            .btn {
                margin-right:0;
                width:196px;
                height:48px;
                line-height:48px;
            }
            li a {
                text-decoration: none;
                font-family: Rubik;
                font-size: 1.125em;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
                text-align: right;
                color: #ffffff;
            }
        }
        .menu-btn {
            font-size: initial;
            margin-left: 24px;
            a {
                color: #9c20be;
            }
        }
        ul li {
    &.menu-btn a:hover {
        color:#9c20be;
    }
    &.current a:after {
        width:100%;
    }
    a {
    &:hover {
        color:#fff;
    }
    position: relative;
    display: inline-block;
    &:hover:after {
    width: 100%;
    }
    &:after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -3px;
    left: 0;
    background: #fefefe;
    transition: width .2s ease-in-out;
    }
    }
}
}
/* FOOTER */
footer {
    padding:5em 0;
    width: 100%;
    background:#000;
    z-index: 99;
    ul li {
    &.menu-btn a:after {
        content:none!important;
    }
    &.current a:after {
        width:100%;
    }
    a {
    &:hover {
        color:#fff;
    }
    position: relative;
    display: inline-block;
    &:hover:after {
    width: 100%;
    }
    &:after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -3px;
    left: 0;
    background: #fefefe;
    transition: width .2s ease-in-out;
    }
    }
}
    .logo {
        img {
            max-height: 65px;
            position: relative;
        }
    }
    #site-navigation {
        margin-left: auto;
        align-items: center;
        display: flex;
        }
    ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            align-items:center;
            li {
                margin: 0 22px;
            }
            .btn {
                margin-right:0;
                width:196px;
                height:48px;
                line-height:48px;
            }
            li a {
                text-decoration: none;
                font-family: Rubik;
                font-size: 1.125em;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
                text-align: right;
                color: #ffffff;
            }
        }
        .menu-btn {
            font-size: initial;
            margin-left: 24px;
            background-image: linear-gradient(135deg, #ff6868, #7000e5);
            a {
                color: #fff;
            }
        }
}

@media (max-width:1380px) {
    header {
        top:50px;
    }
}

@media (max-width:1100px) {
footer {
    .desktop-menu {
        width:100%;
    }
    .logo.col-2.ml-0 {
    padding-left: 0;
}
        nav#site-navigation {
    flex-direction: column;
    width: 100%;
    ul li {
    margin-left: 0;
}
}
.nav-col.col.d-flex {
    padding: 0!important;
    margin-top: 20px;
}
.row.d-flex {
    flex-direction: column;
}
    }

}