#intro {
    height:100vh;
    display:flex;
    align-items:center;
    .intro-background {
        position: absolute;
        height: 100%;
        width: 100%;
        top:0;
        left:0;
        z-index: -1;
    }
    p {
        margin-bottom:48px;
    }
    h1 {
        margin-bottom:30px;
        font-size:3.000em;
    }
    .row {
        align-items: center;
    }
    .home-illustration {
        position: relative;
        width:100%;
    }
    a.link-btn {
        margin-left: 50px;
    }
}
